/***********************************
GENERAL
***********************************/

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

:root {
    font-size: 1rem;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 1.1rem;
    background-color: #f8f7f4;
    color: #4d4a45;
    padding: 1em;
}

header {
    font-size: 1.4rem;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
}

footer {
    font-weight: 300;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #a08f7a;
    transition: color 0.3s ease-out;
}

a:hover {
    color: #b5d0db;
}