/***********************************
GENERAL
***********************************/

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

:root {
    font-size: 1rem;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 1rem;
    background-color: #f8f7f4;
    color: #4d4a45;
    padding: 1em;
}

h3 {
    font-weight: 400;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #a08f7a;
    transition: color 0.3s ease-out;
    cursor: pointer;
}

a:hover {
    color: #b5d0db;
}

ul {
    list-style: none;
    padding: 0;
}

.icon {
    width: 36px;
    transition: transform 0.2s ease-out;
}

.icon:hover,
.icon:focus {
    transform: scale(1.2);
}

.icon-open-link::after {
    content: url('../img/open-link.png');
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transition: filter 0.3s ease-out, transform 0.2s ease-in-out;
    filter: brightness(0) saturate(100%) invert(58%) sepia(7%) saturate(985%) hue-rotate(353deg) brightness(98%) contrast(90%);
    transform: translate(0, 7px);
}

.icon-open-link:hover::after,
.icon-open-link:focus::after {
    filter: brightness(0) saturate(100%) invert(90%) sepia(12%) saturate(447%) hue-rotate(158deg) brightness(90%) contrast(90%);
    transform: translate(5px, 0);
}

.available-to-hire {
    color: #32CD32; /* Lime Green */
    font-weight: 600;
}

/***********************************
HEADING
***********************************/


header {
    font-size: 1.2rem;
    margin: 1.5em 0 5em;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 1em;
    font-weight: 400;
}

header h3 {
    font-size: 0.9em;
    margin: 0.8em 0;
}

.social-media-icons {
    display: flex;
    align-items: center;
}

.social-media-icons li {
    margin-right: 5px;
}

/***********************************
MAIN CONTENT GENERAL
***********************************/

main {
    font-size: 1rem;
}

main h3 {
    font-size: 1.1em;
    font-weight: 600;
}

.bio-container {
    margin-bottom: 5em;
}

.work-experience-container h4 {
    margin: 0;
}

.work-experience-container p {
    margin: 0.5em 0;
}

.work-experience-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.work-experience-container li {
    background-color: rgba(45, 212, 190, 0.1);
    border-radius: 20px;
    color: rgb(114, 199, 189);
    margin-right: 0.5em;
    margin-top: 0.5em;
    padding: 0.5em 1em;
}

.work-experience-container:not(:last-of-type) {
    margin-bottom: 3em;
}

.resume-link {
    margin: 3em 0;
}

/***********************************
FOOTER
***********************************/

footer {
    font-weight: 300;
    font-size: 0.9rem;
    margin-top: 3em;
}

.icon-attribution {
    font-size: 0.8rem;
}