@media screen and (min-width: 768px) {
    /***********************************
    MAIN CONTENT GENERAL
    ***********************************/
    .work-experience-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
}

@media screen and (min-width: 1440px) {
    /***********************************
    HEADING
    ***********************************/
    header {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 150px);
        width: 80%;
    }

    header ul {
        margin-top: auto;
        margin-bottom: 0;
    }

    /***********************************
    MAIN CONTENT GENERAL
    ***********************************/
    body {
        padding: 2em;
        width: 70%;
        margin: 0 auto;
    }

    .col-1-desktop {
        position: fixed;
    }

    .col-2-desktop {
        position: absolute;
        left: 800px;
        width: 40%;
    }

    .bio-container h3:first-child {
        margin-top: 3em;
    }

    /***********************************
    FOOTER
    ***********************************/
    footer {
        margin-bottom: 90px;
    }
}

@media screen and (min-width: 2200px) {
    /***********************************
    MAIN CONTENT GENERAL
    ***********************************/
    .col-2-desktop {
        left: 1000px;
    }
}