@media (min-width: 30em) {

  /***********************************
  PAGE: PORTFOLIO
  ***********************************/

  .gallery li {
    width: 28.3333%;
  }

  .gallery li:nth-child(2n+1) {
    clear: none;
  }

  .gallery li:nth-child(3n+1) {
    clear: left;
  }

  .gallery li p {
    font-size: 0.825em;
  }



  /***********************************
  PAGE: ABOUT
  ***********************************/

  .profile-photo {
    float: left;
    margin: 0 5% 80px 0;
  }

}

@media (min-width: 41.25em) {

	.container {
		max-width: 75vw;
	}

  /***********************************
  PAGE: PORTFOLIO
  ***********************************/

  header {
    border-bottom: 5px solid #596063;
    margin-bottom: 60px;
  }

  .logo {
    text-align: left;
    float: left;
    width: 45%;
    margin-left: 5%;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 0.825rem;
    margin-bottom: 20px;
  }

  nav {
    background: none;
    float: right;
    text-align: right;
    font-size: 1.125rem;
    width: 45%;
    margin-right: 5%;
  }

  .gallery li p {
    font-size: 0.9em;
	}



	/***********************************
  PAGE: CONTACT
  ***********************************/

  .primary {
    width: 50%;
    float: left;
  }

  .secondary {
    width: 40%;
    float: right;
  }



  /***********************************
  MAIN FOOTER
  ***********************************/

  footer {
    margin-top: 10em;
  }

  .social-icon {
    width: 26px;
    height: 26px;
    margin: 0 10px;
  }

}

@media screen and (min-width: 68em) {

	/***********************************
  PAGE: ABOUT
	***********************************/

	.about-section {
		margin-left: 250px;
	}

	.about-section p {
		max-width: 800px;
	}

}